<p>
  {{ homeTitle }}
</p>

<h1>{{ homeTitle }}</h1>

<!--  property binding -->
<input [value]="thyString" />

<input [required]="boolUlose" />


<!--  property binding with string interpolation -->

<input value="{{thyString}}" />

<input required="{{boolUlose}}" />


<!-- event binding -->
<button (click)="alertMe('i love life')">Click me</button> <br><br>


<!-- two way data binding -->
<!-- <input [(ngModel)]="ninja.name" /> -->
<label for="name">Name: </label>
<input [(ngModel)]="person.name" />
<label for="gender">Gender: </label>
<input [(ngModel)]="person.gender">

<p>{{person.name}}</p>
<p>{{person.gender}}</p>

<!-- Custom Property Binding -->
<p>{{ newperson.name }}</p>

<button (click)="fireYellEvent($event)">Hit Me</button>